.course{
    margin: 4rem 6rem;
    color: #2a2a2a;
}
.course h1{
    font-size: 3rem;
}
.coursecard{
    margin:3rem;
    display: flex;
    justify-content: space-between;
}
.t-card{
    background-color: #2a2a2a;
    width:30%;
    text-align:start;
    box-shadow: 0 5px 25px 2px rgba(0,0,0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem .8rem;
}
.t-card h4 {
    font-size: 1.3rem;
    color: #fff;
    padding:  .9rem 0 .2rem 0;
}
.t-card p{
 color: #fff;
}
.t-image{
    width:100%;
    overflow: hidden;
    border-radius: 7px;
}

.t-image img{
  width:100%;
  height:100%;
  transition: 0.3s ease-in-out;
}

.t-image:hover img{
    transform: scale(1.3);
}
.t-card .Show{
    text-decoration: none;
    background: #fff;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #222;
}

@media screen and(max-width:850px){
    .course{
        margin: 4rem 2rem;
    }
    .coursecard{
        flex-direction: column;
    }
    .t-card{
        width:100%;
        margin-bottom: 1.5rem;
    }
}